body{
    background-color: #ececec;
}

.clearfix{
    clear: both;
}

.header-body{
    background-color: #04304b;
    padding: 10px 0;
}

.header-body .logo h1{
    font-size: 35px;
    color: #fff;
    float: left;
    margin-left:20px;
    font-family: 'Ubuntu Condensed', sans-serif;
    border: none;
}

.menu-list{ 
    margin-right: 20px;
    text-align: right;
    padding: 10px 0;
}

.menu-list li{
    display: inline-block;
    margin-right: 30px;
}

.menu-list li a{
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.menu-list li a:hover{
    color:#ececec;
    transition: 0.3s;
}

.colorated-container{
    background-color: #04304b;
    color:#fff;
    font-family: 'Roboto', sans-serif;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding:20px;
    border-radius: 10px;
    -webkit-box-shadow: 6px 6px 5px 5px rgba(0,0,0,0.13);
    -moz-box-shadow: 6px 6px 5px 5px rgba(0,0,0,0.13);
    box-shadow: 6px 6px 5px 5px rgba(0,0,0,0.13);
}

.small-colorated-container{
    background-color: #04304b;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 10px;
    -webkit-box-shadow: 6px 6px 5px 5px rgba(0,0,0,0.13);
    -moz-box-shadow: 6px 6px 5px 5px rgba(0,0,0,0.13);
    box-shadow: 6px 6px 5px 5px rgba(0,0,0,0.13);
}

.mobile-menu{
    display: none;
}

.mobile-menu-list{
    display: none;
}

.table-wrap{
    padding: 30px !important;
    overflow-x: auto;
}

.table{
    width: 100%;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.table td{
    height: 30px;
    border-bottom: 1px solid #fff;
    padding-top: 20px !important;
    text-align: center;
}

.table td a{
    color: #fff;
    text-decoration: none;
}

.page-title{
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding-top: 30px !important;
    margin-right: 30px;
}

.form-wrap{
    padding: 30px;
}

.form-field{
    background-color: #ececec;
    color: #000;
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    width: 200px;
}

.form-field:focus{
    outline: none;
}

.form-field::placeholder{
    color: #000;
    font-family: 'Roboto', sans-serif;
}

form a{
    text-decoration: none;
}

.button{
    padding: 10px 30px;
    border-radius: 7px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    margin-right: 10px;
}

.button:hover{
    background-color: #1e73be;
    transition: 0.3s;
}

.button:focus{
    outline: none;
}

.submit{
    margin-top: 10px;
}

.used{
    margin-top: 10px;
}

label{
    color: #fff;
    margin: 10px 0 !important;
}

.form-wrap{
    padding:30px;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
}
.forgot-link{
    color:#fff;
}

.form-group{
    margin: 20px 0;
    font-family: 'Roboto', sans-serif;
}

.page-subtitle{
    color: #fff;
    text-align: center;
    font-size:28px;
    margin:10px 0;
}

.page-subtitle a{
    color: #fff;
    text-decoration: none;
}

.welcome-text{
    color: #fff;
    margin: 20px 0;
    text-align: center;
}

.welcome-text a{
    color: #fff;
    text-decoration: none;
}

.page-title-welcome{
    color: #fff;
    font-size:52px;
    text-align: center;
    margin-bottom: 30px;
}